---

- name: copy metabigor shell script into {{ target }} directory
  template:
    src: templates/metabigor.j2
    dest: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}/metabigor.sh
    owner: '{{user_name }}'
    group: '{{user_name }}'
    mode: '0755'

- name: run metabigor shell script to extract ip ranges on {{ target }}
  become: yes
  become_user: "{{ user_name }}"
  shell: ./metabigor.sh 
  args:
    chdir: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}

- name: run expand-cidr shell script to expand ip ranges on {{ target }}
  become: yes
  become_user: "{{ user_name }}"
  shell: nmap -sL -n -iL metabigor-ipv4-ranges-{{ target | quote }}.txt  | awk '/Nmap scan report/{print $NF}' > cidr-expansoin-{{ target | quote }}.txt
  args:
    chdir: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}
  



