---

- name: scan combined wordlist with massdns for "{{ target }}"
  shell: massdns -r /home/{{ user_name | quote }}/massdns/lists/resolvers.txt -t A -o S -w {{ target | quote }}-{{ ansible_date_time.date | quote }}-massdns-results.txt {{ target | quote }}-{{ ansible_date_time.date | quote }}-hosts-all.txt
  args: 
    chdir: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}
  register: shell_output
  tags: massdns

- debug: msg={{ shell_output.stdout }}

- name: parse ip addresses from massdns from {{ target }}-{{ ansible_date_time.date }}-massdns-results.txt
  shell: cat {{ target | quote }}-{{ ansible_date_time.date | quote }}-massdns-results.txt | awk '{print $3}' | sort -u | grep -oE "\b([0-9]{1,3}\.){3}[0-9]{1,3}\b" > {{ target | quote  }}-{{ ansible_date_time.date | quote }}-ips-online.txt
  args: 
    chdir: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}
  register: shell_output
  tags: parseips

- debug: msg={{ shell_output.stdout }}