---

- name: run favFreak on {{ target }}   # change this when adding to pentest playbook
  become: yes
  become_user: "{{ user_name }}"
  shell: /bin/bash -ic 'source .FavFreak/bin/activate; cat input.txt | python3 favfreak.py --shodan | tee /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}/RAW-COLOR-FavFreak-{{ target | quote }}-{{ ansible_date_time.date | quote }}.txt'
  args:
    chdir: /home/{{ user_name }}/FavFreak

- name: remove ANSI color from RAW-COLOR-FavFreak-{{ target }}-{{ ansible_date_time.date }}.txt'
  become: yes
  become_user: "{{ user_name }}"
  shell: cat RAW-COLOR-FavFreak-{{ target | quote }}-{{ ansible_date_time.date | quote }}.txt | ansi2txt > RAW-FavFreak-{{ target | quote }}-{{ ansible_date_time.date | quote }}.txt
  args:
    chdir: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}

- name: delete RAW-COLOR-FavFreak-{{ target }}-{{ ansible_date_time.date }} after parsing with ansi2txt 
  become: yes
  become_user: "{{ user_name }}"
  file:
    path: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}/RAW-COLOR-FavFreak-{{ target }}-{{ ansible_date_time.date }}.txt
    state: absent

- name: grep subdomains from RAW-FavFreak-{{ target }}-{{ ansible_date_time.date }}.txt and remove duplicates
  become: yes
  become_user: "{{ user_name }}"
  shell: grep -oP '[a-z0-9]+\.[a-z]+\.[a-z]+' RAW-FavFreak-{{ target | quote }}-{{ ansible_date_time.date }}.txt | sort -u > SUB-FavFreak-output-{{ target | quote }}-{{ ansible_date_time.date | quote }}.txt 
  args:
    chdir: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}
