---

- name: run SubDomainizer with -u (url) option against {{ target }} with two output formats bash stdout and python output
  become: yes
  become_user: "{{ user_name }}"
  shell: source .SubDomainizer/bin/activate; python3 SubDomainizer.py -u https://{{ target | quote }} | tee /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}/RAW-SubDomainizer-{{ target | quote }}-{{ ansible_date_time.date | quote }}.txt
  args:
    chdir: /home/{{ user_name }}/SubDomainizer

- name: remove color ANSI characters from RAW output and write to BASH-SubDomainizer-output-{{ target }}-{{ ansible_date_time.date }}.txt 
  become: yes
  become_user: "{{ user_name }}"
  shell: cat RAW-SubDomainizer-{{ target | quote }}-{{ ansible_date_time.date | quote }}.txt | ansi2txt > BASH-SubDomainizer-output-{{ target | quote }}-{{ ansible_date_time.date | quote }}.txt 
  args:
    chdir: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}

- name: grep subdomains from BASH-SubDomainizer-output-{{ target }}-{{ ansible_date_time.date }}.txt and write to file
  become: yes
  become_user: "{{ user_name }}"
  shell: grep -oP '[a-z0-9]+\.[a-z]+\.[a-z]+' BASH-SubDomainizer-output-{{ target | quote }}-{{ ansible_date_time.date | quote }}.txt | sort -u > SUB-subdomainizer-url--{{ target | quote }}-{{ ansible_date_time.date | quote }}.txt
  args:
    chdir: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}

- name: delete RAW-COLOR-FavFreak-{{ target }}-{{ ansible_date_time.date }} after parsing with ansi2txt 
  file:
    path: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}/RAW-SubDomainizer-{{ target | quote }}-{{ ansible_date_time.date | quote }}.txt
    state: absent