---

- name: extract ips from {{ target }}-{{ ansible_date_time.date }}-Eyewitness-HTTPS-results
  shell: grep -E -o "(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)" {{ target | quote }}-{{ ansible_date_time.date | quote }}-Eyewitness-HTTPS-results/*.html > eyewitness-temp-https.txt
  args: 
    chdir: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}
  register: shell_output
  tags: vulners 
    
- debug: msg={{ shell_output.stdout }}

- name: extract ips from {{ target }}-{{ ansible_date_time.date }}-Eyewitness-HTTP-results 
  shell: grep -E -o "(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)" {{ target | quote }}-{{ ansible_date_time.date | quote }}-Eyewitness-HTTP-results/*.html > eyewitness-temp-http.txt
  args: 
    chdir: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}
  register: shell_output
  tags: vulners  
    
- debug: msg={{ shell_output.stdout }}

- name: parse second time ip address from eyewitness-temp-https.txt
  shell: grep -E -o "(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)" eyewitness-temp-https > https-vulners-input
  args: 
    chdir: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}
  register: shell_output
  tags: vulners  

- debug: msg={{ shell_output.stdout }}

- name: parse second time ip address from eyewitness-temp-http.txt
  shell: grep -E -o "(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)" eyewitness-temp-http > http-vulners-input
  args: 
    chdir: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}
  register: shell_output
  tags: vulners  

- debug: msg={{ shell_output.stdout }}

- name: concatenate ips from vulners input into large list removing duplicates
  shell: cat {{ target | quote }}-{{ ansible_date_time.date | quote }}-ips-online.txt http-vulners-input.txt https-vulners-input.txt | sort -u > {{ target | quote }}-{{ ansible_date_time.date | quote }}-vulners-input.txt
  args: 
    chdir: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}
  register: shell_output
  tags: vulners  

- debug: msg={{ shell_output.stdout }}

- name: perform nmap vulners scan on {{ target }}
  shell: nmap -p "$ports" -iL {{ target | quote }}-{{ ansible_date_time.date | quote }}-vulners-input.txt  --script vulners.nse --script-args mincvss=5.0 -oA {{ target | quote }}-{{ ansible_date_time.date | quote }}-NMAP-VULNERS-results
  args: 
    chdir: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}
  register: shell_output
  tags: vulners  

- debug: msg={{ shell_output.stdout }}

- name: convert {{ target | quote }}-{{ ansible_date_time.date | quote }}-vulners-results to html
  shell: xsltproc {{ target }}-{{ ansible_date_time.date }}-NMAP-VULNERS-results.xml -o {{ target }}-{{ ansible_date_time.date }}-NMAP-VULNERS-results.html
    chdir: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}
  register: shell_output
  tags: vulners  

- debug: msg={{ shell_output.stdout }}

