---

- name: find root domains with reverse whois using amass on "{{ target }}" 
  become: yes
  become_user: "{{ user_name }}"
  shell: amass intel -d {{ target }} -whois | tee amass-reverse-whois-{{ target | quote }}-{{ ansible_date_time.date | quote }}.txt
  async: 2592000               # 60*60*24*30 – 1 month
  poll: 0
  args: 
    chdir: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}
  
- name: copy amass-ipv4-ssl-cidr shell script into {{ target }} directory
  template:
    src: templates/amass-ipv4-ssl-cidr.j2
    dest: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}/amass-ipv4-ssl-cidr.sh
    owner: '{{user_name }}'
    group: '{{user_name }}'
    mode: '0755'
 
- name: run amass-ipv4-ssl-cidr shell script on {{ target }} to extract root/seed domain via certs
  become: yes
  become_user: "{{ user_name }}"
  shell: ./amass-ipv4-ssl-cidr.sh
  async: 2592000    
  poll: 0
  args:
    chdir: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}/

- name: copy amass config.ini into {{ target }} directory
  copy: 
    src: ../../../Ansible-Config/config.ini
    dest: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}/
    decrypt: yes 
    mode: 0755

- name: perform subdomain enumeration with amass on {{ target }}
  shell: amass enum -passive -d {{ target | quote }} -config config.ini > SUB-Amass-enum-{{ target | quote }}-{{ ansible_date_time.date | quote }}.txt
  async: 2592000               # 60*60*24*30 – 1 month
  poll: 0
  args:
    chdir: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}/







