---

- name: create dnsgen input file for {{ target }}
  copy:
    dest: "/home/{{ user_name }}/dnsgen/{{ target }}-{{ ansible_date_time.date }}-LIST.txt"
    content: |
      {{ target }}
     
- name: find permutations with dnsgen for "{{ target }}" using puredns repo as resolver list
  shell: /bin/bash -ic 'source .dnsgen/bin/activate; cat {{ target | quote }}-{{ ansible_date_time.date | quote }}-LIST.txt | dnsgen - | massdns -r /home/{{ user_name | quote }}/puredns/resolvers.txt -t A -o J --flush > RAW-dnsgen-output-{{ target | quote }}-{{ ansible_date_time.date | quote }}.json'
  args: 
    chdir: /home/{{ user_name }}/dnsgen

- name: move RAW-dnsgen-output-{{ target }}.json to /home/{{ user_name }}/massdns/{{ target }}
  copy:
    src: /home/{{ user_name }}/dnsgen/RAW-dnsgen-output-{{ target }}-{{ ansible_date_time.date }}.json
    dest: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}/
    remote_src: yes
    force: yes
    owner: "{{ user_name }}"
    group: "{{ user_name }}"
    mode: 0755

- name: parse possibeble subdomains from dnsgen raw output with for {{ target }} and output to SUB-dnsgen-output-{{ target }}-{{ ansible_date_time.date }}
  shell: jq --raw-output .name RAW-dnsgen-output-{{ target | quote }}-{{ ansible_date_time.date | quote }}.json > SUB-dnsgen-output-{{ target | quote }}-{{ ansible_date_time.date | quote }}.txt
  args: 
    chdir: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}

- name: remove period from output of SUB-dnsgen-output-{{ target }}-{{ ansible_date_time.date }} with sed inline edit
  shell: sed -i 's/\.$//g' SUB-dnsgen-output-{{ target | quote }}-{{ ansible_date_time.date | quote }}.txt
  args:  
    chdir: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}


