---

- name: append "{{ target }}" to subdomains-top1million-20000.txt
  shell: sed 's/$/.{{ target | quote }}/' subdomains-top1million-20000.txt > /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}/seclist-domains-{{ target }}-{{ ansible_date_time.date }}.txt
  args: 
    chdir: /home/{{ user_name }}/massdns
  register: shell_output
  tags: sec-list

- debug: msg={{ shell_output.stdout }}

- name: append "{{ target }}" to all.txt
  shell: sed 's/$/.{{ target | quote }}/' all.txt > /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}/all-domains-{{ target | quote }}-{{ ansible_date_time.date | quote }}.txt
  args: 
    chdir: /home/{{ user_name }}/massdns
  register: shell_output
  tags: all

- debug: msg={{ shell_output.stdout }}

- name: append "{{ target }}" to commonspeak subdomains.txt
  shell: sed 's/$/.{{ target | quote }}/' subdomains.txt > /home/{{ user_name | quote }}/massdns/{{ target | quote  }}-{{ ansible_date_time.date | quote }}/commonspeak-subdomains-{{ target | quote }}-{{ ansible_date_time.date }}.txt
  args: 
    chdir: /home/{{ user_name }}/massdns
  register: shell_output
  tags: subdomain 

- debug: msg={{ shell_output.stdout }}

- name: download domains from crt.sh for "{{ target }}" 
  shell: curl -s "https://crt.sh/?q=%.{{ target | quote }}&output=json" | jq '.[].name_value' | sed 's/\"//g' | sed 's/\*\.//g' | sort -u > {{ target | quote }}-{{ ansible_date_time.date }}-hosts-crtsh.txt
  args: 
    chdir: /home/{{ user_name }}/massdns/{{ target | quote  }}-{{ ansible_date_time.date }}
  register: shell_output
  tags: crt

- debug: msg={{ shell_output.stdout }}

- name: combine output of ALL-appended domains
  shell: cat {{ target | quote }}-{{ ansible_date_time.date }}-hosts-crtsh.txt {{ target | quote }}-{{ ansible_date_time.date | quote }}-dnsgen-parsed.txt findomain-{{ target | quote }}-{{ ansible_date_time.date | quote }}.txt amass-{{ target | quote }}-{{ ansible_date_time.date | quote }}.txt commonspeak-subdomains-{{ target | quote }}-{{ ansible_date_time.date }}.txt seclist-domains-{{ target | quote }}-{{ ansible_date_time.date }}.txt all-domains-{{ target }}-{{ ansible_date_time.date }}.txt | sort -u > {{ target | quote }}-{{ ansible_date_time.date | quote }}-hosts-all.txt
  args: 
    chdir: /home/{{ user_name }}/massdns/{{ target | quote  }}-{{ ansible_date_time.date }}
  register: shell_output
  tags: combine output2

- debug: msg={{ shell_output.stdout }}
