---

- name: run WHOIS against "{{ target }}"
  shell: whois {{ target | quote }} > WHOIS-{{ target | quote }}-{{ ansible_date_time.date | quote }}.txt
  args:
    chdir: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}
  register: whois
  tags: whois

- debug: 
    msg: '{{ whois.stdout }}'

- name: run dig on '{{ target }}' 
  shell: dig '{{ target | quote }}' +short | tee ip-resolve-{{ target | quote }}-date-{{ ansible_date_time.date | quote }}-time-{{ ansible_date_time.time | quote }}
  register: dig
  args:
    chdir: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}
  tags: dig 

- name: run nslookup on '{{ target }}' 
  shell: nslookup -q=A '{{ target | quote }}' | tail -n+4 | sed -e '/^$/d' -e 's/Address://g' | grep -v 'Name|answer' | xargs -n1 | tee -a ip-resolve-{{ target | quote }}-date-{{ ansible_date_time.date | quote }}-time-{{ ansible_date_time.time | quote }}
  register: nslookup
  args:
    chdir: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}
  tags: nslookup

- debug:
    msg: "{{ nslookup.stdout }}"

- name: run host command on {{ target }}
  shell: host '{{ target | quote }}' | grep "has address" | sed 's/has address/-/g' | tee -a ip-resolve-{{ target | quote }}-date-{{ ansible_date_time.date | quote }}-time-{{ ansible_date_time.time | quote }}
  register: host
  args:
    chdir: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}
  tags: host

- debug:
    msg: "{{ host.stdout }}"

- name: run fping on {{ target }}
  shell: fping -A -d '{{ target | quote }}' | tee -a ip-resolve-{{ target | quote }}-date-{{ ansible_date_time.date | quote }}-time-{{ ansible_date_time.time | quote }}
  register: fping
  args:
    chdir: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}
  tags: fping

- debug:
    msg: "{{ fping.stdout }}"

- name: extract ip addresses from output for {{ target }}
  script: scripts/ip-extract.sh 
  args:
    chdir: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}
  tags: extract

- name: copy asn.sh script to {{ target }} output directory
  copy: 
    src: scripts/asn.sh
    dest: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}
    force: yes
    owner: '{{user_name }}'
    group: '{{user_name }}'
    mode: 0755
  tags: copy

- name: read list of ips from ip-extract.sh output using asn-input script
  script: scripts/asn-input.sh
  args:
    chdir: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}
  tags: input

- name: copy asn-output script to {{ target }} directory to extract asn number(s)
  template:
    src: templates/asn-output.j2
    dest: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}/asn-output.sh 
    owner: '{{user_name }}'
    group: '{{user_name }}'
    mode: '0755'

- name: extract asn number from output of asn-input script 
  become: yes
  become_user: "{{ user_name }}"
  shell: ./asn-output.sh
  args:
    chdir: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}

- name: try getting asn number with amass for {{ target }}
  become: yes
  become_user: "{{ user_name }}"
  shell: amass intel -org {{ target }} > {{ target }}-{{ ansible_date_time.date }}-amass-ASN.txt
  args:
    chdir: /home/{{ user_name }}/massdns/{{ target }}-{{ ansible_date_time.date }}



